.options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 230%);
    display: flex;
}

.generate {
    background: rgb(60, 36, 179);
    border-radius: 50px;
    height: 10vh;
    width: 30vw;
    border: none;
    color: #fff;
    font-weight: 900;
    font-size: 6vh;
    margin: 10px;
}

.save {
    background: none;
    border-radius: 50px;
    height: 10vh;
    width: 30vw;
    border: 3px solid #252525;
    color: #fff;
    font-weight: 900;
    font-size: 6vh;
    color: #252525;
    margin: 10px;
}

.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: #fff;
}

.colorPalette {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 45%);
    width: 90%;
    height: 80%;
    background: rgb(201, 201, 201);
    display: flex;
    padding: 20px;
}

.colorPalette .color {
    width: 33%;
    height: 80%;
    margin: 5px;
    margin-bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}