:root {
  --bg-def: rgb(75, 75, 200);
}

.App,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url(./Stylesheets/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

* {
  text-align: center;
  text-decoration: none;
  font-family: 'Quicksand';
}